<!DOCTYPE html>
<html>
<head>
    <title>UrlShortening</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="container">
    <h1>
        입력받은 URL:
        <a href="<%= longUrl %>"><%= longUrl %></a>
    </h1>

    <h1>
        단축된 URL:
        <a href="http://localhost:3000/<%= shortUrl %>"> localhost/<%= shortUrl %> </a>
    </h1>

</div>


</body>
</html>
